{% extends 'base.html' %}


{% block content %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .bg-light {
        background-color: #ff8f00 !important;
    }


    .cover-container {
        font-family: 'Noto Sans JP',
            sans-serif;
        margin-top: 60px;
    }

    .cover-heading {
        background-color: #000;
        color: #fff;
        padding: 20px;
        border-color: #fff;
    }

    .lead {
        margin-top: 10px;
        padding: 20px;
        background-color: rgb(0, 0, 0);
        color: #fff;
    }

    .display-4 {
        margin-bottom: 20px;
        color: #000;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0);
    }

    .lead2 {
        margin-top: 10px;
        padding: 20px;
        background-color: #000;
        color: #fff;
        font-size: initial;
    }

    .lead3 {
        margin-top: 10px;
        padding: 20px;
        background-color: #ff8f00;
        color: #fff;
        font-size: initial;
    }

    .jumbotron {
        padding-top: 10px;
    }

    .button-secondary {
        background-color: unset;
        background-color: #ff8f00;
    }


    .what-if {
        font-size: larger;
        padding: 10px;
    }

    .bg-logo {
        background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735593444164239420/FAQ.jpg');
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: center;
        background-size: unset;
        background-size: 70%;
        height: unset;
        height: max-content;

    }

</style>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md- text-center bg-logo">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><br /><br /><br /></h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<!--About TigerGainz, Featuring the FAQs-->

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</body>

<div class="jumbotron">
    <hr class="my-4">
    <h1 class="display-4"> About TigerGainz </h1>
    <hr class="my-4">
    <h2 class="lead2"><strong>Why Was TigerGainz Created?</strong></h2>
    <hr class="my-4">
    <p>Amidst the COVID-19 pandemic and virtual classes, Ben Cai ’24 and Vinay Konuru ’24 had to find new ways to
        stay active. In particular, they still wanted to train with their teammates and friends. Unfortunately, each
        of their peers had different schedules, goals, exercise preferences, and so on;
        quarantine only exacerbated these conflicts. As a result, Ben and Vinay had to exercise on their own, and
        they struggled to keep themselves motivated. Fortunately, Ben and Vinay met each other and other
        workout-eager classmates in the Class of 2024 Princeton
        group chat.
    </p>
    <p><strong class="what-if"><i>But what if you could find other Princetonians who had the same workout
                preferences as you?</i></strong>
    </p>
    <p>That’s why Ben and Vinay, with the help of Eugene Liu ’24 and Elizabeth Medina ’24, created TigerGainz to
        share the joy of exercise with the rest of the Princeton community. They hope the website will not only help
        Princetonians find the most fitting workout partners/groups who will keep them accountable.
    </p>
    <hr class="my-4">
    <h2 class="lead3"><strong>Management</strong></h2>
    <hr class="my-4">
    <p>TigerGainz is a workout buddy and group matchmaker created and currently managed by Vinay Konuru ’24, Eugene
        Liu ’24, Elizabeth Medina ’24, and Ben Cai ’24. The source code is available on GitHub.
    </p>
    <hr class="my-4">
    <h1 class="display-4"> FAQs </h1>
    <hr class="my-4">
    <h2 class="lead2"><strong>1. Who has access to my TigerGainz profile and sign-up responses? What is my data used
            for? </strong></h2>
    <hr class="my-4">
    <p>All your TigerGainz sign-up responses and profile are securely stored and only distributed to you and your
        prospective workout partners. The data is solely used to create workout buddy matches and is not shared with
        any other organizations.</p>
    <hr class="my-4">
    <h2 class="lead3"><strong>2. My current Princeton workout buddy/group and I decided that we are not the best fit
            for each other. Can we request new Princeton workout buddies/groups? If so, how?</strong></h2>
    <hr class="my-4">
    <p>Yes.</p>
    <hr class="my-4">
    <h2 class="lead2"><strong>3. Can I edit my preferences? If so, how? </strong></h2>
    <hr class="my-4">
    <p></p>
    <hr class="my-4">
    <h2 class="lead3"><strong>4. I haven’t heard back from TigerGainz in a while and I’m still looking for a match.
            What
            should I do?</strong></h2>
    <hr class="my-4">
    <p></p>
    <hr class="my-4">
    <h2 class="lead2"><strong>5. Why am I getting no matches? How long will I have to wait for a match?</strong>
    </h2>
    <hr class="my-4">
    <p></p>
    <hr class="my-4">
    <h2 class="lead3"><strong>6. How can I maximize my chances of getting a match?
        </strong></h2>
    <hr class="my-4">
    <p></p>
    <hr class="my-4">
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

{% endblock %}
