{% extends 'base.html' %}


{% block content %}
<body>
    <!--What is TigerGainz?-->

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    </body>

    <div class="jumbotron">
        <hr class="my-4">
        <h1 class="display-4"> About TigerGainz </h1>
        <hr class="my-4">
        <h2 class="lead2"><strong>Why Was This Created?</strong></h2>
        <hr class="my-4">
        <p>Inspired by their own virtual COVID-19 workout sessions, Eugene Liu ’24, Vinay Konuru ’24, and Ben Cai ’24,
            wanted to share the joy of exercise with the rest of the Princeton community.
        </p>
        <hr class="my-4">
        <h2 class="lead2"><strong>Management</strong></h2>
        <hr class="my-4">
        <p>TigerGainz is a workout buddy and group matchmaker created and currently managed by Vinay Konuru ’24, Eugene
            Liu ’24, Elizabeth Medina ’24, and Ben Cai ’24. The source code is available on GitHub.
        </p>
        <hr class="my-4">
        <h1 class="display-4"> FAQs </h1>
        <hr class="my-4">
        <h2 class="lead2"><strong>1. Who has access to my TigerGainz profile and sign-up responses? What is my data used
                for? </strong></h2>
        <hr class="my-4">
        <p>All your TigerGainz sign-up responses and profile are securely stored and only distributed to you and your
            prospective workout partners. The data is solely used to create workout buddy matches and is not shared with
            any other organizations.</p>
        <hr class="my-4">
        <h2 class="lead2"><strong>2. My current Princeton workout buddy/group and I decided that we are not the best fit
                for each other. Can we request new Princeton workout buddies/groups? If so, how?</strong></h2>
        <hr class="my-4">
        <p>Yes.</p>
        <hr class="my-4">
        <h2 class="lead2">3. Can I edit my preferences? If so, how? <strong></strong></h2>
        <hr class="my-4">
        <p></p>
        <hr class="my-4">
        <h2 class="lead2">4. I haven’t heard back from TigerGainz in a while and I’m still looking for a match. What
            should I do? <strong></strong></h2>
        <hr class="my-4">
        <p></p>
        <hr class="my-4">
        <h2 class="lead2">5. Why am I getting no matches? How long will I have to wait for a match?<strong></strong>
        </h2>
        <hr class="my-4">
        <p></p>
        <hr class="my-4">
        <h2 class="lead2">6. How can I maximize my chances of getting a match?
            <strong></strong></h2>
        <hr class="my-4">
        <p></p>
        <hr class="my-4">
        <h2 class="lead2">7. Am I able to view other people’s profiles even if I haven’t matched with them?
            <strong></strong></h2>
        <hr class="my-4">
        <p></p>
        <hr class="my-4">
    </div>
</body>

{% endblock %}
