{% extends 'base.html' %}

{% block content %}

<style>
    .bg-logo {
        background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735947613492215909/Contact_Us.jpg');
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: center;
        background-size: unset;
        background-size: 70%;
        height: unset;
        height: max-content;

    }

    .email {
        color: rgb(148, 148, 148);
    }

    .email:hover {
        color: rgb(148, 148, 148);
    }


    .featurette-heading {
        margin-top: 10%;
    }

    .bio {
        padding: 20px;
        color: #000;
        font-size: larger;
        margin-bottom: 10%;
    }

    .featurette-image {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .links {
        color: #000;
        font-weight: bold;
    }

    .links:hover {
        color: #000;
    }
</style>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md- text-center bg-logo">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><br /><br /><br /></h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<!--Contacts and Bios-->

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</body>


<div class="jumbotron">
    <hr class="my-4">
    <h1 class="display-4"> Contact Us </h1>
    <hr class="my-4">
    <h2 class="lead2"><strong>Feedback</strong></h2>
    <hr class="my-4">

    <p>Have feedback for us? Fill out <a class="links"
            href="https://docs.google.com/forms/d/e/1FAIpQLScHBTfxXng_85fVKSKnOI5Wxhd0264pw4JYl1HNODwdKW6VFg/viewform?usp=pp_url">this</a>
        form!</p>
    <p>For general questions, please refer to the FAQs located on the <a class="links" href="#">"About & FAQ"</a>
        page. Any additional
        questions, comments, or concerns can be directed to one of the founders linked below.</p>

    <hr class="my-4">
    <h2 class="lead3"><strong>Management</strong></h2>
    <hr class="my-4">

    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Vinay Konuru: <br /> <a class="email"
                        href="mailto:vkonuru@princeton.edu">vkonuru@princeton.edu</a></h2>
                <p class="bio">Hey! My name is Vinay, and I am one of the co-founders. I am a full stack developer
                    for this project, with a priority on the middle layer and backend. I focused on building the
                    website, co-developing the matching algorithm, and managing the database. I’ve been really
                    excited to bring TigerGainz to the Princeton community since we began working on this project,
                    because I know it has the potential to help tigers across the globe live healthier, happier
                    lives regardless of where we are. </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                    height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500"
                    src="https://collface.deptcpanel.princeton.edu/img/a059f6ab-3a76-4aff-a0b4-3a0e7223b9fc.jpg">
                </img>
            </div>
        </div>

        <hr class="my-4">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Eugene Liu: <br /> <a class="email"
                        href="mailto:el25@princeton.edu">el25@princeton.edu</a></h2>
                <p class="bio">Hi! My name is Eugene (℅ 2024), and I am interested in Computer Science—specifically
                    artificial intelligence and machine learning. I am one of the co-founders and I was responsible
                    for building the matching algorithm and email automation. Building this web app has been
                    extremely rewarding, and I hope you all find some utility out of it!
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                    height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500"
                    src="https://collface.deptcpanel.princeton.edu/img/cb7d3d73-ee5b-47c4-9c20-8a59152aca5a.jpg">
                </img>
            </div>
        </div>

        <hr class="my-4">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Elizabeth Medina: <br /> <a class="email"
                        href="mailto:pemedina@princeton.edu">pemedina@princeton.edu</a></h2>
                <p class="bio">Elizabeth here! A member of the Class of 2024, I’m interested in Computer Science and
                    other creative pursuits--STEM or not. I am one of the co-founders of TigerGainz and am
                    responsible for the
                    visual component of the website. </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                    height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500"
                    src="https://cdn.discordapp.com/attachments/735319507341672642/735927771649409114/PrincetonID.jpg">
                </img>
            </div>
        </div>

        <hr class="my-4">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Ben Cai: <br /> <a class="email"
                        href="mailto:bccai@princeton.edu">bccai@princeton.edu</a></h2>
                <p class="bio">Hi! I’m Ben, a Freshman (Class of 2024) from Rhode Island interested in economics. I
                    am one of the co-founders and I am responsible for the website’s content. Having desired
                    something like TigerGainz myself, I hope you enjoy it! Happy exercising!
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"
                    height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                    focusable="false" role="img" aria-label="Placeholder: 500x500"
                    src="https://media.discordapp.net/attachments/735319507341672642/735951335085572116/BenCaiPhoto.png">
                </img>
            </div>
        </div>
    </div>
    <hr class="my-4">
</div>

{% endblock %}