{% extends 'base.html' %}

{% block content %}

<head>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>TigerGainz - Exercise Guide Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--Font Used: Noto Sans from Google Fonts-->

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">


    <link href="product.css" rel="stylesheet">

    <style>

        .display-5 {
            padding: 20px;
            background-color: rgba(255, 255, 255, 0);
        }

        .bg-logo {
            background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735557477076303963/Sprites_2.jpg');
            background-attachment: local;
            background-repeat: no-repeat;
            background-position: center;
            background-size: unset;
            background-size: 70%;
            height: unset;
            height: max-content;
        }

        .exercises {
            margin: auto;
            max-width: 350px;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            border-radius: 20px;
        }

        .my-6 {
            margin-top: unset;
            margin-bottom: unset;
        }

        .exercise-sets {
            margin: auto;
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            border-radius: 20px;
        }

    </style>
</head>


<body>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md- text-center bg-logo">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal"><br /><br /><br /></h1>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <!--Exercise Guide Page-->

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    </body>

    <div class="jumbotron">
        <hr class="my-4">
        <h1 class="display-5"><strong>Exercise Guide Page</strong></h1>
        <hr class="my-4">
        <p class="lead2"><strong>Oftentimes, creating, starting, or sticking with workouts can feel quite daunting and
                uncertain.
                As a result,
                it may be difficult to motivate yourself and your buddy or group, especially with all the Princeton
                work.
            </strong></p>

        <p><b>BUT</b> have no fear! Exercise is not only healthy for the body and mind, but it can also be fun to create
            and do
            —especially if you have TigerGainz workout buddies and groups!</p>

        <p>To help you and your workout buddy or group, here are several <b>sample workouts and guides for creating your
                own.</b> These are only meant to be starting points and we hope you find the best variation that works
            for you.
        </p>

        <p>Please feel free to explore on the Internet for more or ask your friends, peers, or even adults,
            <b>especially
                those in the Princeton community (e.g. Campus Recreation’s Experts).</b>
        </p>

        <p>As always, make sure to stay safe on- and off-campus! Remember to stretch!
        </p>
        <p class="lead3"><strong>Happy Exercising!</strong></p>
        <hr class="my-4">
        <h1 class="display-5"><strong>Region-Specific Exercises</strong></h1>
        <hr class="my-4">
        <p class="lead2"><strong>Stretches:</strong></p>
        <hr class="my-4">

        <div class="media p-3">
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399390842945547/Standing_Hamstring_Stretch_Left.png"
                class="align-self-center mr-3" style="width:30%">
            <div class="media-body align-self-center">
                <div class="exercises">
                    <li style="list-style-type: none">
                        <hr class="my-6">Standing Hamstring Stretch</li>
                    <li style="list-style-type: none">Tricep Stretch</li>
                    <li style="list-style-type: none"> Butterfly Stretch</li>
                    <li style="list-style-type: none">“Cat” Stretch</li>
                    <li style="list-style-type: none">“Snake”/”Sphinx” Stretch</li>
                    <li style="list-style-type: none">Standing Quad Stretch
                        <hr class="my-6">
                    </li>
                </div>
            </div>
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399412536016966/Standing_Hamstring_Stretch_Right.png"
                class="align-self-center mr-3" style="width:30%;">
        </div>

        <hr class="my-4">
        <p class="lead3"><strong>Abdominals:</strong></p>
        <hr class="my-4">

        <div class="media p-3">
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399322224001084/Sit_Up_Left.png"
                class="align-self-center mr-3" style="width:30%">
            <div class="media-body align-self-center">
                <div class="exercises">
                    <li style="list-style-type: none">
                        <hr class="my-6">Front Planks</li>
                    <li style="list-style-type: none">Side Planks</li>
                    <li style="list-style-type: none">6-inch Leg Lifts</li>
                    <li style="list-style-type: none">Sit-Ups</li>
                    <li style="list-style-type: none">Crunches</li>
                    <li style="list-style-type: none">“Penguins”</li>
                    <li style="list-style-type: none">“Superman”</li>
                    <li style="list-style-type: none">V-Ups</li>
                    <li style="list-style-type: none">Russian Twists</li>
                    <li style="list-style-type: none">Cross Mountain Climbers</li>
                    <li style="list-style-type: none">Bicycle</li>
                    <li style="list-style-type: none">Deadbug
                        <hr class="my-6">
                    </li>
                </div>
            </div>
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399359708495922/Sit_Up_Right.png "
                class="align-self-center mr-3" style="width:30%;">
        </div>

        <hr class="my-4">
        <p class="lead2"><strong>Upper-Body:</strong></p>
        <hr class="my-4">

        <div class="media p-3">
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399209972105256/Push_Up_Left.png"
                class="align-self-center mr-3" style="width:30%">
            <div class="media-body align-self-center">
                <div class="exercises">
                    <li style="list-style-type: none">
                        <hr class="my-6">Push-Ups</li>
                    <li style="list-style-type: none">Burpee with Push-Ups</li>
                    <li style="list-style-type: none">Push-Up/Plank Taps</li>
                    <li style="list-style-type: none">Decline Push-Ups</li>
                    <li style="list-style-type: none">Incline Push-Ups</li>
                    <li style="list-style-type: none">Diamond Push-Ups</li>
                    <li style="list-style-type: none">Dips</li>
                    <li style="list-style-type: none">Tricep Dips</li>
                    <li style="list-style-type: none">Curls with Weights</li>
                    <li style="list-style-type: none">Bench Presses with Weights</li>
                    <li style="list-style-type: none">Pull-Ups</li>
                    <li style="list-style-type: none">Chin-Ups
                        <hr class="my-6">
                    </li>
                </div>
            </div>
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399229609836554/Push_Up_Right.png"
                class="align-self-center mr-3" style="width:30%;">
        </div>

        <hr class="my-4">
        <p class="lead3"><strong>Lower-Body:</strong></p>
        <hr class="my-4">

        <div class="media p-3">
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399153508253704/Lunge_Left.png"
                class="align-self-center mr-3" style="width:30%">
            <div class="media-body align-self-center">
                <div class="exercises">
                    <li style="list-style-type: none">
                        <hr class="my-6">Squats</li>
                    <li style="list-style-type: none">Forward Lunges</li>
                    <li style="list-style-type: none">Reverse Lunges</li>
                    <li style="list-style-type: none">Side Lunges</li>
                    <li style="list-style-type: none">Step-Ups</li>
                    <li style="list-style-type: none">Wall-Sit</li>
                    <li style="list-style-type: none">Bulgarian Split Squat</li>
                    <li style="list-style-type: none">High Knees</li>
                    <li style="list-style-type: none">Calf-Raises
                        <hr class="my-6">
                    </li>
                </div>
            </div>
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399183908700170/Lunge_Right.png"
                class="align-self-center mr-3" style="width:30%;">
        </div>

        <hr class="my-4">
        <p class="lead2"><strong>Cardio:</strong></p>
        <hr class="my-4">

        <div class="media p-3">
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399255065067641/Running_Left.png"
                class="align-self-center mr-3" style="width:30%">
            <div class="media-body align-self-center">
                <div class="exercises">
                    <li style="list-style-type: none">
                        <hr class="my-6">Long-Distance Continuous Running</li>
                    <li style="list-style-type: none">Interval Running</li>
                    <li style="list-style-type: none">Repeated Sprints</li>
                    <li style="list-style-type: none">Biking</li>
                    <li style="list-style-type: none">Swimming
                        <hr class="my-6">
                    </li>
                </div>
            </div>
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736399295644827648/Running_Right.png"
                class="align-self-center mr-3" style="width:30%;">
        </div>

        <hr class="my-4">
        <h1 class="display-5"><strong>Creating an Exercise Set</strong></h1>
        <hr class="my-4">
        <p class="lead3"><strong>To build an effective workout routine that you and your workout buddies can follow and
                enjoy,
                follow these
                guidelines:</strong></p>
        <hr class="my-4">
        <div class="exercise-sets">
            <hr class="my-6">
            <p><strong></p>Stretch:</strong><br />To avoid injuries and reduce soreness, stretch before and after your
            workout. </p>
            <p><strong>Divide your days:</strong><br />Spread out your intensity and make sure you get enough rest. </p>
            <p><strong>Challenge yourself but don’t overdo it:</strong><br />To not tire yourself at the beginning,
                start off at a moderate
                level
                and then build into it. </p>
            <p><strong>Vary it up:</strong><br />Make sure your workout has a variety of exercises to keep yourself
                engaged. <br />
                Alternate exercises to use different muscles and not tire yourself as quickly. </p>
            <p><strong>Repetition is key:</strong><br /> doing shorter, repeated cycles is often more effective (and
                maybe a little more
                challenging) than doing one long set. </p>
            <p><strong>Allow for recovery:</strong><br />Make sure you set aside time to rest between exercises, BUT
                don’t overextend your
                rest (a
                few seconds to half a minute is usually adequate). </p>
            <p><strong>Adapt your workout:</strong><br /> Your workout preferences will change, so adjust your workout
                accordingly. </p>
            <p><strong>MOST IMPORTANTLY: FOLLOW YOUR WORKOUT, KEEP YOURSELF AND YOUR BUDDY OR GROUP ACCOUNTABLE. YOU CAN
                    DO IT!</strong>
            </p>
            <hr class="my-6">
        </div>
        <hr class="my-4">
        <p class="lead2"><strong>Sample Exercise Set:</strong></p>
        <hr class="my-4">
        <div class="exercise-sets">
            <hr class="my-6">
            <p><strong>STRETCHES + Abdominals + Upper Body + Lower Body</strong></p>
            <p>Total Length: 30 Minutes (42 Minutes for Three Rounds) <br />
                Equipment: None <br />
                On- Or Off-Campus: Both <br /> </p>
            <p><strong>1. STRETCHING:</strong></p>
            <p>Standing Hamstring Stretch (30 seconds) <br />
                Tricep Stretch (15 seconds each arm) <br />
                “Cat” Stretch (30 seconds) <br />
                “Snake”/”Sphinx” Stretch (30 seconds) <br />
                Standing Quad Stretch (30 seconds) <br /> </p>
            <p><strong>2. ABDOMINALS, UPPER-BODY, LOWER-BODY, CYLCLE:</strong> <br />
                Repeat 2 Times (3 Times if you want a CHALLENGE) </p>
            <p>Front Planks (40 seconds, 20 seconds rest) <br />
                Squats (40 seconds, 20 seconds rest) <br />
                Push-Up/Plank Taps (40 seconds, 20 seconds rest) <br />
                6-inch Leg Lifts (40 seconds, 20 seconds rest) <br />
                Wall-Sit (40 seconds, 20 seconds rest) <br />
                Push-Ups (40 seconds, 20 seconds rest) <br />
                Sit-Ups (40 seconds, 20 seconds rest) <br />
                Reverse Lunges (40 seconds, 20 seconds rest) <br />
                Burpee with Push-Ups (40 seconds, 20 seconds rest) <br />
                Crunches (40 seconds, 20 seconds rest) <br />
                Forward Lunges (40 seconds, 20 seconds rest) <br />
                Tricep Dips (40 seconds, 20 seconds rest) <br /> </p>
            <p> 1 Minute Break (DRINK WATER) <br /> </p>
            <p><strong>3. STRETCHING:</strong></p>
            <p>Standing Hamstring Stretch (30 seconds) <br />
                Tricep Stretch (15 seconds each arm) <br />
                “Cat” Stretch (30 seconds) <br />
                “Snake”/”Sphinx” Stretch (30 seconds) <br />
                Standing Quad Stretch (30 seconds)
            </p>
            <hr class="my-6">
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

{% endblock %}
