{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .cover-container {
        font-family: 'Noto Sans JP',
            sans-serif;
        margin-top: 60px;
    }

    .cover-heading {
        background-color: #000;
        color: #fff;
        padding: 20px;
        border-color: #fff;
    }

    .lead {
        margin-top: 10px;
        padding: 20px;
        background-color: rgb(0, 0, 0);
        color: #fff;
    }


    .display-5 {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0);
    }


    .bg-logo {
        background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735594203811151942/Logo.jpg');
        background-attachment: local;
        background-position: center;
        background-size: unset;
        background-size: 70%;
        height: unset;
        height: max-content;

    }

    .btn-secondary:hover,
    .btn-secondary:focus {
        background-color: #000;
    }

    .btn-secondary {
        color: #fff;
        text-shadow: none;
        /* Prevent inheritance from `body` */
        background-color: #ff8f00;
        ;
        border: .05rem solid #ff8f00;
        ;
    }

    .lead2 {
        margin-top: 10px;
        padding: 20px;
        background-color: #000;
        color: #fff;
    }

    .lead3 {
        margin-top: 10px;
        padding: 20px;
        background-color: #ff8f00;
        color: #fff;
    }

    .list {
            margin: auto;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            border-radius: 20px;
            max-width: 600px;
            background-position-y: 50%;
        }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myModal").modal('show');
    });
</script>

<!--Popup-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">COVID-19 Reminder</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p class="lead">Welcome to TigerGainz</p>
                <hr class="my-4">
                <p>Princeton University’s Workout Buddy and Group Matchmaker</p>
                <p>
                    Sign up now to find Your Princeton Workout Buddy or Group Today, On- Or Off-Campus! </p>
                <hr class="my-4">
                <p class="lead">COVID-19 REMINDER:</p>
                <hr class="my-4">
                <p>For your safety and the safety of others, please follow all applicable COVID-19 regulations on-
                    or
                    off-campus while working out in-person or virtually! This includes social distancing at least 6
                    feet, wearing masks, disinfecting equipment, etc. </p>
                <p>For a more comprehensive list of COVID-19
                    regulations, please check all applicable sources such as the CDC and University Health Services.
                </p>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md- text-center bg-logo">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><br /><br /><br /></h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<!--What is TigerGainz?-->

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</body>

<div class="jumbotron">
    <hr class="my-4">
        <h1 class="display-5"><strong>What is TigerGainz?</strong></h1>
        <p>TigerGainz is a workout buddy and group matchmaker for Princetonians that:
            <hr class="my-4">
        <p class="lead">1. Analyzes your workout preferences </p>
        <p class="lead">2. Finds Princetonians with the most FITTING responses to yours </p>
        <p class="lead">3. Gives you their contact information so you can reach out to them when you match </p>
        </p>
        <hr class="my-4">
        <p>With an <i>instantaneous and more accurate algorithm</i> , TigerGainz removes the usual stress, uncertainty,
            and
            awkwardness that comes with finding workout buddies and groups. </p>

        <p>As an added bonus, TigerGainz's directory permits you to see the profiles of all
            workout-buddy-or-group-interested Princetonians (not just those
            you matched with).</p>

        <hr class="my-4">

        <p>By finding the <b>best</b> workout buddies and groups, <b>TigerGainz</b> helps Princetonians <i>stay
                active</i> through <b>better
                exercise experiences</b> that are:</p>

        <div class="media p-3">
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736276124518318160/Side_Icon_Left.png"
                class="align-self-center mr-3" style="width:20%">
            <div class="media-body list">
                <p><b>- more consistent</b> because buddies and groups keep each other accountable</p>
                <p><b>- of higher quality</b> since studies show that working out with others can <i>increase the
                        duration
                        and
                        intensity by up to 200% (Kansas State University)</i></p>
                <p><b>- more fun,</b> whether you are on- or off-campus</p>
            </div>
            <img src="https://cdn.discordapp.com/attachments/735319507341672642/736276156071936062/Side_Icon_Right.png"
                class="align-self-center mr-3" style="width:20%;">
        </div>
        <hr class="my-4">
    {% load base_tags %}
    {% if user|check_partners %}
      <a href="{% url 'partner' %}" class="btn btn-lg btn-secondary">See Partner Details</a>
    {% elif user|check_requests %}
    <a href="{% url 'database' %}" class="btn btn-lg btn-secondary">See Waiting List</a>
    {% else %}
    <a href="{% url 'find' %}" class="btn btn-lg btn-secondary">Get Started</a>
    {% endif %}
    <hr class="my-4">
    <h1 class="display-5"><strong>How Does it Work?</strong></h1>
    <hr class="my-4">
    <p class="lead2">Upon filling out the secure sign up form (see "Get Starated" button above), TigerGainz will use
        an algorithm
        that <b>aligns
            preferences--including workout days, exercise type, time zone, and frequency--</b>to find the most
        fitting
        workout partners (or groups!) from our database of participating Princetonians.
    </p>
    <p>Once matches have been made, you’ll get to see the profiles, preferences, and, most importantly, contact
        information of your best potential workout buddies or groups.
    </p>
    <p><strong>Then, it’s up to you to reach out to your new workout buddy or group!</strong>
    </p>
    <p>
        If you are satisfied with your matches and are no longer interested in finding Princeton workout buddies or
        groups, we will remove you from our database.
    </p>
    <p>Conversely, if you are unsatisfied with or have no matches, TigerGainz will place you in its database and
        waiting list. Once a potential match is made, TigerGainz will notify you via email and give you the
        profiles, preferences, and contact information of your prospective workout buddies and groups. You can then
        decide whom to reach out to and whether or not you would like to remain in the TigerGainz database. </p>
    <p class="lead3">If you wish to be removed from the database, please click the "Take me off the database
        please!" button on the "database" page.
    </p>
    <hr class="my-4">
</div>

{% endblock %}
