{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</body>

<div class="jumbotron">
  <h1 class="display-4">What is TigerGainz?</h1>
  <p>TigerGainz is a workout buddy and group matchmaker for Princetonians that:
  <p class="lead">1. Analyzes your workout preferences </p>
  <p class="lead">2. Finds Princetonians with the most similar responses to yours </p>
  <p class="lead">3. Gives you their contact information so you can reach out to them when you match </p>
  </p>
  <hr class="my-4">
  <p>With an instantaneous and more accurate algorithm, TigerGainz removes the usual stress, uncertainty, and
    awkwardness that comes with finding workout buddies and groups. </p>

  <p>By finding the best workout buddies and groups, TigerGainz helps Princetonians stay active through better
    exercise experiences that are not only more consistent (because buddies and groups keep each other accountable)
    but more
    fun, whether you are on- or off-campus.</p>
  <a href="{% url 'find' %}" class="btn btn-lg btn-secondary">Get Started</a>
</div>


{% endblock %}
