{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
</head>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/765603531939250186/Sign_Up_Page.jpg" class="img.responsive" style="width:55%">
  </div>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>

  {% if error %}
  {{error}}
  {% endif %}
  <br />
  <br />
  <div class="border-black">
    <h1 class="display-5"><strong>Sign Up</strong></h1>
  </div>
  <br />
  <br />
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="jumbotron">
      <div class="border-white">
        <p class="lead">NetId:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
            <input type="text" name="username" />
          </div>
        </div>
        <hr class="my-4">

        <br />
        <br />

        <p class="lead">Password:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
            <input type="password" name="password1" />
          </div>
        </div>
        <hr class="my-4">

        <br />
        <br />

        <p class="lead">Confirm Password:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
            <input type="password" name="password2" />
          </div>
        </div>
        <hr class="my-4">

        <input class="btn btn-lg btn-secondary" type="submit" value="Sign Up">
  </form>
  </div>
  </div>

</body>


{% endblock %}
