{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>

  <title>TigerGainz - About/FAQs</title>

  <!--Page Stylesheet-->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/About-FAQStyle.css' %}" />

</head>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/737054815393153114/FAQ_2.jpg" class="img.responsive" style="width:55%">
  </div>

  <!--About TigerGainz, Featuring the FAQs-->

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>

  <div class="border-black">
    <h1 class="display-5"><strong>About TigerGainz</strong></h1>
  </div>
  <br />
  <br />

  <div class="jumbotron">
    <div class="border-white">
      <p class="lead">Why Was TigerGainz Created?</p>
      <hr class="my-4">
      <div class="border-orange">
        <div class="jumbotron white-background">
          <p>Despite the COVID-19 pandemic and virtual classes, Vinay Konuru ’24 and Ben Cai ’24 still wanted
            to work out
            with friends. Unfortunately, everyone had different schedules, goals, and exercise preferences,
            especially in quarantine. As a result, Vinay and Ben had to exercise on their own, and they
            struggled to
            motivate themselves. Fortunately, Vinay and Ben met each other and other workout-eager
            classmates in the
            Class of 2024 Princeton group chat. After much planning, they finally found suitable workout
            partners.
          </p>
        </div>
      </div>
      <hr class="my-4">

      <div class="media p-3">
        <img src="https://cdn.discordapp.com/attachments/735319507341672642/736276124518318160/Side_Icon_Left.png" class="align-self-center mr-3 tiger-icons">
        <div class="media-body list what-if">
          <strong><i>But what if this process of finding workout buddies
              or groups with the most
              fitting workout partners was not only faster but more accessible?
            </i></strong>
        </div>
        <img src="https://cdn.discordapp.com/attachments/735319507341672642/736276156071936062/Side_Icon_Right.png" class="align-self-center mr-3 tiger-icons">
      </div>
      <hr class="my-4">
      <div class="border-orange">
        <div class="jumbotron white-background">
          <p>That’s why Vinay, Ben, Eugene Liu ’24 and Elizabeth Medina ’24 co-founded TigerGainz in the hopes
            of creating a closer community on- and off-campus.
          </p>
          <p>If you have any questions or concerns, please view our FAQ or visit the <a class="links" href="{% url 'contacts' %}">“Contact Us”</a> section to email one
            of the co-founders or complete our feedback form.
          </p>
          <p>Happy Exercising!</p>
        </div>
      </div>
      <hr class="my-4">
      <div class="lead">
        <p>With much love,
        </p>
        <div class="much-love">
          <p>The TigerGainz Gang: Ben, Vinay, Eugene, & Elizabeth</p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-black">
    <h1 class="display-5"><strong>FAQs</strong></h1>
  </div>
  <br />
  <br />

  <div class="jumbotron">
    <div class="border-white">
      <p class="lead"><strong>Below are answers to FAQs. If you still have questions or concerns, <a class="links-white" href="{% url 'contacts' %}">please email
            one of the co-founders or complete our feedback form.</a></strong></p>
      <hr class="my-4">
      <div class="border-orange">
        <div class="jumbotron white-background">

          <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <div class="container">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                      <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        1. Who has access to
                        my TigerGainz responses/workout preferences? What is my data used for?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body px-3 mb-4">

                      All your TigerGainz responses/workout preferences are
                      securely
                      stored and solely used to create workout buddy matches and your TigerGainz
                      profile. Your
                      TigerGainz profile is only available to other TigerGainz users who have still
                      not chosen
                      a match.
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        2. My
                        current
                        Princeton workout buddy/group and I decided that we are not the best fit for
                        each
                        other. Can we request new Princeton workout buddies/groups? If so, how?</a>
                    </h3>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                      Yes, you both can request new Princeton workout
                      buddies/groups. To
                      do this, please go to the Database section and click the “Take me off the
                      database
                      please” button. Then, click the sign up button to complete the form again (note:
                      this
                      will replace your old responses).
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        3.
                        Can I edit my
                        workout preferences? If so, how?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                      Yes, you can edit your workout preferences. To do this,
                      please go to
                      the Database section and click the “Take me off the database please” button.
                      Then, click
                      the sign up button to complete the form again (note: this will replace your old
                      responses). However, this also means you may get different matches.
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                      <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        4. Why am I getting no matches on my initial search? What
                        should I do? How long will I have to wait for a match?
                      </a>
                    </h3>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body px-3 mb-4">
                      In the unlikely scenario that TigerGainz finds no suitable
                      matches upon form submission - most likely due to uncommon workout preferences -
                      you should click the “Take me off the database please” button in the Database
                      section and then complete form again with broader preferences. On the other
                      hand, if you have already submitted the form and are still not
                      getting matches, that means someone hasn’t chosen you to be their workout buddy
                      or group yet. You may have to wait a few days. If you don’t want to wait for
                      someone to choose you, please resubmit your form
                      (see above) or check out the TigerGainz directory.
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                  <h3 class="panel-title">
                    <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                      5. I haven’t heard back from TigerGainz in a while and I’m
                      still looking for a match. What should I do?
                    </a>
                  </h3>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                  <div class="panel-body px-3 mb-4">
                    Please go to the Database section and click the “Take me
                    off the database please” button. Then, click the sign up button to complete the
                    form again. Hopefully, if there are still Princetonians looking for a workout
                    buddy or
                    group, you should instantly get matches. Alternatively, you can check out the
                    TigerGainz directory.
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                <h3 class="panel-title">
                  <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    6. How can I maximize my chances of getting a match?
                  </a>
                </h3>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                <div class="panel-body px-3 mb-4">
                  To maximize your chances of getting a match, you should
                  select as many workout preferences you are comfortable with and choose the
                  “average” or “most common” response.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                <h3 class="panel-title">
                  <a class="collapsed links" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    7. Am I able to view other people’s profiles even if I
                    haven’t matched with them?
                  </a>
                </h3>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                <div class="panel-body px-3 mb-4">
                  Yes, you can view other people’s profiles in the directory
                  even if they aren’t a match but only if you signed up for TigerGainz and you
                  have not already found a match.
                </div>
              </div>
            </div>

        </div>
      </div>

    </div>
    </section>

  </div>
</body>

{% endblock %}
