.what-if {
    font-size: larger;
    padding: 10px;
    margin: auto;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 20px;
    background-position-y: 50%;
}

.links-white {
    color: #fff;
}

.links-white:hover {
    color: #7c7c7c;
}

.much-love {
    font-size: larger;
    font-weight: bolder;
}

.panel-body {
    font-size: bigger;
}

.tiger-icons {
    width: 200px;
}
