{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>

  <title>TigerGainz - Feedback & Contact Us</title>

  <!--Page Stylesheet-->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/ContactUsStyle.css' %}" />

</head>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/737053520678748221/Contact_Us_2.jpg" class="align-self-center" style="width:65%">
  </div>

  <!--Contacts and Bios-->

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>

  <div class="border-black">
    <h1 class="display-5"><strong>Contact Us</strong></h1>
  </div>
  <br />
  <br />

  <div class="jumbotron">
    <div class="border-white">
      <h2 class="lead"><strong>Feedback</strong></h2>
      <hr class="my-4">
      <div class="border-orange">
        <div class="jumbotron white-background">
          <p>Have feedback for us? Fill out <a class="links" href="https://docs.google.com/forms/d/e/1FAIpQLScHBTfxXng_85fVKSKnOI5Wxhd0264pw4JYl1HNODwdKW6VFg/viewform?usp=pp_url">this</a>
            form!</p>
          <p>For general questions, please refer to the FAQs located on the <a class="links" href="{% url 'about' %}">"About & FAQ"</a>
            page. Any additional
            questions, comments, or concerns can be directed to one of the founders linked below.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="border-black">
    <h1 class="display-5"><strong>Management</strong></h1>
  </div>
  <br />
  <br />

  <div class="jumbotron">
    <div class="border-white">
      <h2 class="lead"><strong>Get to know us!</strong></h2>
      <hr class="my-4">
      <div class=" border-orange">
        <div class="jumbotron white-background">

          <div class="row">
            <div class="column">
              <div class="pic-container">
                <img class="img-fluid bio-pic" src="https://cdn.discordapp.com/attachments/735319507341672642/765581581548388362/Unknown.jpeg">
                <div class="overlay">
                  <div class="text"><br/> <br/> <br/> <br/> Email: vkonuru@princeton.edu <br/> <br/>Hey! My name is Vinay, and I am one of the co-founders. I am a full stack developer
                    for this project, with a priority on the middle layer and backend. I focused on building the
                    website, co-developing the matching algorithm, and managing the database. I’ve been really
                    excited to bring TigerGainz to the Princeton community since we began working on this project,
                    because I know it has the potential to help tigers across the globe live healthier, happier
                    lives regardless of where we are.</div>
                </div>
              </div>
              <hr class="my-4">
              <p class="lead">Vinay Konuru</p>
              <hr class="my-4">
              <a href="mailto:vkonuru@princeton.edu" class="btn btn-lg btn-secondary">Contact Me <br />
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg></a>
            </div>

            <div class="column">
              <div class="pic-container">
                <img class="img-fluid bio-pic" src="https://cdn.discordapp.com/attachments/735319507341672642/737028647080427540/Screen_Shot_2020-07-26_at_3.28.28_PM.png">
                <div class="overlay">
                  <div class="text">Email: el25@princeton.edu <br/> <br/>Hi! My name is Eugene (℅ 2024), and I am interested in Computer Science—specifically
                    artificial intelligence and machine learning. I am one of the co-founders and I was responsible
                    for building the matching algorithm and email automation. Building this web app has been
                    extremely rewarding, and I hope you all find some utility out of it!</div>
                </div>
              </div>
              <hr class="my-4">
              <p class="lead">Eugene Liu</p>
              <hr class="my-4">
              <a href="mailto:el25@princeton.edu" class="btn btn-lg btn-secondary">Contact Me <br />
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg></a>
            </div>

            <div class="column">
              <div class="pic-container">
                <img class="img-fluid bio-pic" src="https://cdn.discordapp.com/attachments/735319507341672642/735927771649409114/PrincetonID.jpg">
                <div class="overlay">
                  <div class="text">Email: pemedina@princeton.edu <br/> <br/>Elizabeth here! A member of the Class of 2024, I’m interested in Computer Science (quantum computing in particular) as well as other
                    creative pursuits (ranging from digital art to music). I am one of the co-founders of TigerGainz and am
                    the primary front-end developer of the website.</div>
                </div>
              </div>
              <hr class="my-4">
              <p class="lead">Elizabeth Medina</p>
              <hr class="my-4">
              <a href="mailto:pemedina@princeton.edu" class="btn btn-lg btn-secondary">Contact Me <br />
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg></a>
            </div>

            <div class="column">
              <div class="pic-container">
                <img class="img-fluid bio-pic" src="https://media.discordapp.net/attachments/735319507341672642/735951335085572116/BenCaiPhoto.png">
                <div class="overlay">
                  <div class="text">Email: bccai@princeton.edu <br/> <br/>Hi! I’m Ben, a Freshman (Class of 2024) from Rhode Island interested in economics. I
                    am one of the co-founders and I am responsible for the website’s content. Having desired
                    something like TigerGainz myself, I hope you enjoy it! Happy exercising!</div>
                </div>
              </div>
              <hr class="my-4">
              <p class="lead">Ben Cai</p>
              <hr class="my-4">
              <a href="mailto:bccai@princeton.edu" class="btn btn-lg btn-secondary">
                Contact Me <br />
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
</body>

{% endblock %}
