{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>

  <title>TigerGainz - Find A Buddy</title>

  <!--Page Stylesheet-->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/FindStyle.css' %}" />

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Script for preferences -->

<script>
  var subjectObject = {
    "Duration": {
      "Workout Days": ["Time Zone"],
      "Time Zone": ["Workout Days"],
    },
    "Workout Days": {
      "Duration": ["Time Zone"],
      "Time Zone": ["Duration"]
    },
    "Time Zone": {
      "Duration": ["Workout Days"],
      "Workout Days": ["Duration"]
    }
  }
  window.onload = function() {
    var subjectSel = document.getElementById("subject");
    var topicSel = document.getElementById("topic");
    var chapterSel = document.getElementById("chapter");
    for (var x in subjectObject) {
      subjectSel.options[subjectSel.options.length] = new Option(x, x);
    }
    subjectSel.onchange = function() {
      //empty Chapters- and Topics- dropdowns
      chapterSel.length = 1;
      topicSel.length = 1;
      //display correct values
      for (var y in subjectObject[this.value]) {
        topicSel.options[topicSel.options.length] = new Option(y, y);
      }
    }
    topicSel.onchange = function() {
      //empty Chapters dropdown
      chapterSel.length = 1;
      //display correct values
      var z = subjectObject[subjectSel.value][this.value];
      for (var i = 0; i < z.length; i++) {
        chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
      }
    }
  }
</script>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/737054681322225825/Find_A_Buddy_2.jpg" class="img.responsive" style="width:55%">
  </div>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>

  {% if error %}

  <div class="border-orange">
    <div class="border-white">
      <h1 class="display-5">{{ error }}</h1>
    </div>
  </div>
  <br>
  <br>

  <!-- Error Pop-up -->

  <div id="overlay">
    <div id="text">
      <div class="border-white">
        <div class="border-orange">
          <div class="jumbotron white-background">
            <p class="lead">Please fill out all fields in form</p>
            <br>
            <button onclick="off()" class="btn btn-lg btn-secondary">
              Okay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  <div class="border-black">
    <h1 class="display-5"><strong>Find A Buddy Info Form</strong></h1>
  </div>

  <div class="jumbotron">
    <div class="border-white">

      <form action="{% url 'matches' %}" method='POST'>
        {% csrf_token %}
        <p class="lead">Preferences:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
            <p><strong>Please rank the priority of each category:</strong></p>
            <hr class="my-4">
            Top Preference:<br><br> <select name="preferences" id="subject" class="form-control">
              <option value="" selected="selected">Select Preference</option>
            </select>
            <br><br>
            Secondary Preference: <br><br> <select name="preferences" id="topic" class="form-control">
              <option value="" selected="selected">Please Select Top Preference First</option>
            </select>
            <br><br>
            Tertiary Preference: <br><br> <select name="preferences" id="chapter" class="form-control">
              <option value="" selected="selected">Please Select Secondary Preference First</option>
            </select>
            <br><br>

          </div>
        </div>

        <br />
        <br />
        <hr class="my-4">
        <p class="lead">Intensity:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
            <div class="form-group">
              <select name="intensity" class="form-control">
                <option class="text-center" value="EST">Beginner</option>
                <option class="text-center" value="CST">Average Joe-Shmoe</option>
                <option class="text-center" value="EST">Varsity Athlete</option>
                <option class="text-center" value="EST">Olympian</option>
              </select>
            </div>

          </div>
        </div>
        <br><br>
        <hr class="my-4">

        <p class="lead">Workout Days:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <input type="checkbox" name="day" value="Monday" id="test1"><label for="test1" class="checkbox-inline">Monday</label>
            <input type="checkbox" name="day" value="Tuesday" id="test2"><label for="test2" class="checkbox-inline">Tuesday</label>
            <input type="checkbox" name="day" value="Wednesday" id="test3"><label for="test3" class="checkbox-inline">Wednesday</label>
            <input type="checkbox" name="day" value="Thursday" id="test4"><label for="test4" class="checkbox-inline">Thursday</label>
            <input type="checkbox" name="day" value="Friday" id="test5"><label for="test5" class="checkbox-inline">Friday</label>
            <input type="checkbox" name="day" value="Saturday" id="test6"><label for="test6" class="checkbox-inline">Saturday</label>
            <input type="checkbox" name="day" value="Sunday" id="test7"><label for="test7" class="checkbox-inline">Sunday</label>
          </div>
        </div>

        <br />
        <br />

        <hr class="my-4">
        <p class="lead">Duration:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="form-group">
              <select name="duration" class="form-control">
                <option class="text-center" value="30 Minutes">30 Minutes</option>
                <option class="text-center" value="1 Hour">1 Hour</option>
                <option class="text-center" value="1 Hour 30 Minutes">1 Hour 30 Minutes</option>
                <option class="text-center" value="2 Hours">2 Hours</option>
                <option class="text-center" value="2+ Hours">2+ Hours</option>
              </select>
            </div>

          </div>
        </div>
        <hr class="my-4">
        <p class="lead">On/Off Campus:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="form-group">
              <select name="location" class="form-control">
                <option class="text-center" value="EST">On-Campus</option>
                <option class="text-center" value="CST">Off-Campus</option>
              </select>
            </div>

          </div>
        </div>
        <br />
        <br />

        <hr class="my-4">
        <p class="lead">Type of Workout:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">


            <div class="form-group">
              <input type="checkbox" name="workout_type" value="Biking" id="Biking"><label for="Biking" class="checkbox-inline">Biking</label>
              <input type="checkbox" name="workout_type" value="Lifting" id="Lifting"><label for="Lifting" class="checkbox-inline">Lifting</label>
              <input type="checkbox" name="workout_type" value="Running" id="Running"><label for="Running" class="checkbox-inline">Running</label>
              <input type="checkbox" name="workout_type" value="Swimming" id="Swimming"><label for="Swimming" class="checkbox-inline">Swimming</label>
              <input type="checkbox" name="workout_type" value="Yoga/Pilates" id="YogaPil"><label for="YogaPil" class="checkbox-inline">Yoga/Pilates</label>

            </div>

          </div>
        </div>

        <br />


        <!-- Intesities -->

        <!-- <div id="bikeIntensity" class="form-group init-hidden">
          <br />
          <br />
          <select class="form-control">
            <option selected>Biking Intensity</option>
            <option class="text-center" value="Low">Low</option>
            <option class="text-center" value="Medium">Medium</option>
            <option class="text-center" value="High">High</option>
          </select>
        </div>

        <div id="liftIntensity" class="form-group init-hidden">
          <br />
          <br />
          <select class="form-control">
            <option selected>Lifting Intensity</option>
            <option class="text-center" value="Low">Low</option>
            <option class="text-center" value="Medium">Medium</option>
            <option class="text-center" value="High">High</option>
          </select>
        </div>

        <div id="runIntensity" class="form-group init-hidden">
          <br />
          <br />
          <select class="form-control">
            <option selected>Running Intensity</option>
            <option class="text-center" value="Low">Low</option>
            <option class="text-center" value="Medium">Medium</option>
            <option class="text-center" value="High">High</option>
          </select>
        </div>

        <div id="swimIntensity" class="form-group init-hidden">
          <br />
          <br />
          <select class="form-control">
            <option selected>Swimming Intensity</option>
            <option class="text-center" value="Low">Low</option>
            <option class="text-center" value="Medium">Medium</option>
            <option class="text-center" value="High">High</option>
          </select>
        </div>

        <div id="yogaPilIntensity" class="form-group init-hidden">
          <br />
          <br />
          <select class="form-control">
            <option selected>Yoga/Pilates Intensity</option>
            <option class="text-center" value="Low">Low</option>
            <option class="text-center" value="Medium">Medium</option>
            <option class="text-center" value="High">High</option>
          </select>
        </div>

        </div>
        </div>

        <br />
        <br /> -->

        <hr class="my-4">
        <p class="lead">Timezone:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="form-group">
              <select name="time_zone" class="form-control">
                <option class="text-center" value="EST">EST</option>
                <option class="text-center" value="CST">CST</option>
                <option class="text-center" value="PST">PST</option>
                <option class="text-center" value="GMT">GMT</option>
              </select>
            </div>

          </div>
        </div>
        <br />
        <!-- Profile Picture -->
        <!-- <hr class="my-4">
        <p class="lead">Profile Picture:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="custom-file">
              <input type="file" name="profile_picture" accept="image/*" class="custom-file-input">
              <label class="custom-file-label" for="customFile">Choose file</label>
              <br>
              <br>
            </div>

          </div>
        </div>
        <br> -->
        <hr class="my-4">
        <p class="lead">Bio:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
            Enter experience level, workout goals, background, etc.
            <div class="form-group">
              <textarea rows="4" cols="50" name="bio"></textarea>
            </div>

          </div>
        </div>
        <br>


        <hr class="my-4">
        <input class="btn btn-lg btn-secondary" type="submit" value="Find my Match!">

      </form>


      <!--Script for custom select file-->

      <script>
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
      </script>

      <!-- Script for intensities -->

      <!-- <script>
        $(document).ready(function() {
          $("#Biking").click(function() {
            if ($("#Biking").is(':checked')) {
              $("#bikeIntensity").show();
            } else {
              $("#bikeIntensity").hide();
            }
          });
        });

        $(document).ready(function() {
          $("#Lifting").click(function() {
            if ($("#Lifting").is(':checked')) {
              $("#liftIntensity").show();
            } else {
              $("#liftIntensity").hide();
            }
          });
        });

        $(document).ready(function() {
          $("#Running").click(function() {
            if ($("#Running").is(':checked')) {
              $("#runIntensity").show();
            } else {
              $("#runIntensity").hide();
            }
          });
        });

        $(document).ready(function() {
          $("#Swimming").click(function() {
            if ($("#Swimming").is(':checked')) {
              $("#swimIntensity").show();
            } else {
              $("#swimIntensity").hide();
            }
          });
        });

        $(document).ready(function() {
          $("#YogaPil").click(function() {
            if ($("#YogaPil").is(':checked')) {
              $("#yogaPilIntensity").show();
            } else {
              $("#yogaPilIntensity").hide();
            }
          });
        });
      </script> -->

      <!-- Script for Error Pop-up -->
      <script>
        function on() {
          document.getElementById("overlay").style.display = "block";
        }

        function off() {
          document.getElementById("overlay").style.display = "none";
        }
      </script>

</body>

{% endblock %}
