{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  body{padding:30px;}
table {
    border-spacing: collapse;
    border-spacing: 0;
}
td {
    width: 60px;
    height: 25px;
    text-align:center;
}
tr.border_bottom td {
  border-bottom:1pt solid grey;
    background:khaki;
}
</style>

<head>

  <title>TigerGainz - Find A Buddy</title>

  <!--Page Stylesheet-->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/FindStyle.css' %}" />

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/737054681322225825/Find_A_Buddy_2.jpg" class="img.responsive" style="width:55%">
  </div>

  <!--What is TigerGainz?-->

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>


  <div class="border-black">
    <h1 class="display-5"><strong>Find A Buddy Info Form</strong></h1>
  </div>
  {% if error %}
  {{ error }}
  {% endif %}
  <div class="jumbotron">
    <div class="border-white">

      <form action="{% url 'matches' %}" method='POST'>
        {% csrf_token %}
        <p class="lead">Rank Factors Based on Importance:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">
        <label class="radio-inline"><input type="radio" name="preferences" value = "day">Workout Days</label>
        <label class="radio-inline"><input type="radio" name="preferences" value = "duration">Duration</label>
        <label class="radio-inline"><input type="radio" name="preferences" value = "timezone">Time Zone</label>
        </div>
      </div>
      <br />
      <br />
      
        <p class="lead">Workout Days:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <input type="checkbox" name="day" value="Monday" id="test1"><label for="test1" class="checkbox-inline">Monday</label>
            <input type="checkbox" name="day" value="Tuesday" id="test2"><label for="test2" class="checkbox-inline">Tuesday</label>
            <input type="checkbox" name="day" value="Wednesday" id="test3"><label for="test3" class="checkbox-inline">Wednesday</label>
            <input type="checkbox" name="day" value="Thursday" id="test4"><label for="test4" class="checkbox-inline">Thursday</label>
            <input type="checkbox" name="day" value="Friday" id="test5"><label for="test5" class="checkbox-inline">Friday</label>
            <input type="checkbox" name="day" value="Saturday" id="test6"><label for="test6" class="checkbox-inline">Saturday</label>
            <input type="checkbox" name="day" value="Sunday" id="test7"><label for="test7" class="checkbox-inline">Sunday</label>

          </div>
        </div>

        <br />
        <br />

        <hr class="my-4">
        <p class="lead">Duration:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="form-group">
              <select name="duration" multiple class="form-control">
                <option class="text-center" value="30 Minutes">30 Minutes</option>
                <option class="text-center" value="1 Hour">1 Hour</option>
                <option class="text-center" value="1 Hour 30 Minutes">1 Hour 30 Minutes</option>
                <option class="text-center" value="2 Hours">2 Hours</option>
                <option class="text-center" value="2+ Hours">2+ Hours</option>
              </select>
            </div>

            <p>*Note: Please scroll for all options</p>

          </div>
        </div>

        <br />
        <br />

        <hr class="my-4">
        <p class="lead">Type of Workout:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">


            <div class="form-group">
              <select name="workout_type" multiple class="form-control">
                <option class="text-center" value="Lifting">Lifting</option>
                <option class="text-center" value="Running">Running</option>
                <option class="text-center" value="Biking">Biking</option>
                <option class="text-center" value="Swimming">Swimming</option>
              </select>
            </div>

          </div>
        </div>

        <br />
        <br />

        <hr class="my-4">
        <p class="lead">Timezone:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="form-group">
              <select name="time_zone" multiple class="form-control">
                <option class="text-center" value="EST">EST</option>
                <option class="text-center" value="CST">CST</option>
                <option class="text-center" value="PST">PST</option>
                <option class="text-center" value="GMT">GMT</option>
              </select>
            </div>

          </div>
        </div>

        <br />
        <br />

        <!-- Profile Picture -->

        <!-- <hr class="my-4">
        <p class="lead">Profile Picture:</p>
        <hr class="my-4">
        <div class="border-orange">
          <div class="jumbotron white-background">

            <div class="custom-file">
              <input type="file" name="profile_picture" accept="image/*" class="custom-file-input">
              <label class="custom-file-label" for="customFile">Choose file</label>
              <br>
              <br>
            </div>

          </div>
        </div> -->

        <hr class="my-4">
        <input class="btn btn-lg btn-secondary" type="submit" value="Find my Match!">
        <!--value changed from "Find" to "Find my Match!" ask Vinay if this will mess anything up-->

      </form>
    </div>
  </div>

  <!--Script for custom select file-->

  <script>
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>

</body>

{% endblock %}
