.bg-light2 {
  background-color: #e9ecef !important;
  width: unset;
  min-width: 300px;
  height: 600px;
}

.bg-white {
  background-color: #000 !important;
  background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735573886997102682/Tiger_Profile_Pic.jpg');
  background-position: center;
  background-size: 90%;
  min-width: 200px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.column {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .column {
    width: 100%;
    display: block;
  }
}

.bi-small {
  font-size: 500% !important;
}

.mb-2 {
  color: #000 !important;
}

.form-control {
  height: unset;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.are-you-sure {
  font-size: 50px;
}
.proceeding {
  font-size: 30px;
}
