.exercises {
  margin: auto;
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
}

.exercise-sets {
  margin: auto;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
}

.column {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin: auto;
}

.column-2 {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.pic-container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ff8f00;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.pic-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 950px) {
  .column {
    width: 100%;
    display: block;
  }

  .column-2 {
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

}
.suggestions {
  text-align: left;
}
