.mb-2 {
  color: #000 !important;
  margin-top: 20px !important;
}

.column {
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin: auto;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
