{% extends 'base.html' %}

{% block content %}

<style>

.login-page-font {
        font-family: 'Noto Sans JP',
            sans-serif;
        margin-top: 60px;
    }

</style>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
</body>

<div class="container login-page-font">
<br />
<br />
{% if error %}
{{error}}
{% endif %}
<br />
<br />

  <h1>Log In</h1>

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  Username:
  <br />
  <input type="text" name="username"/>
  <br />

  Password:
  <br />
  <input type="password" name="password"/>
  <br />
  <br />

  <input class="btn btn-primary" type="submit" value="Log In">
  </form>
</div>

{% endblock %}
