{% extends 'base.html' %}

{% block content %}

<div class="container signup-page-font text-center">
  <div class="jumbotron">
      <br />
      <br />
      {% if error %}
      {{error}}
      {% endif %}
      <br />
      <br />
      <hr class="my-4">
      <h1>Sign Up</h1>
      <hr class="my-4">
      <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}

          <p class="lead2"><strong>NetID:</strong></p>
          <hr class="my-4">
          <input type="text" name="username" />
          <hr class="my-4">

          <p class="lead3"><strong>Password:</strong></p>
          <hr class="my-4">
          <input type="password" name="password1" />
          <hr class="my-4">

          <p class="lead2"><strong>Confirm Password:</strong></p>
          <hr class="my-4">
          <input type="password" name="password2" />
          <hr class="my-4">

          <input class="btn btn-secondary" type="submit" value="Sign Up">
          <hr class="my-4">
      </form>
  </div>
</div>


{% endblock %}
