{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>

  <title>TigerGainz - Waiting List</title>

  <!--Page Stylesheet-->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/DatabaseStyle.css' %}" />

</head>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/761996625165680640/Database.jpg" class="img.responsive" style="width:55%">
  </div>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>

  <!--TigerGainz Database Jumbotron-->
  <div class="border-black">
    <h1 class="display-5"><strong>TigerGainz Waiting List</strong></h1>
  </div>
  <br />
  <br />

  <div class="jumbotron">
    <div class="border-white">
      <p class="lead">What Now?</p>
      <hr class="my-4">
      <div class="border-orange">
        <div class="jumbotron white-background">
          <p>Didn't get a match? Feel free to search through the waiting list below!</p>

          <p>Found a match and want to be taken off the waiting list?
            Click the button below!</p>
          <hr class="my-4">
          <a href="{% url 'remove' %}" class="btn btn-lg btn-secondary">Take me off the waiting list please!</a>
          <hr class="my-4">
        </div>
      </div>
    </div>
  </div>

  <div class="border-black">
    <h1 class="display-5"><strong>Profiles</strong></h1>
  </div>
  <br />
  <br />

  <div class="jumbotron">
    <div class="border-white">
      <div class="border-orange">
        <div class="jumbotron white-background">

          <!--Profiles-->

          <div class="row">
            {% for entry in unmatched %}
            {% if forloop.counter0|divisibleby:2 %}
            {% endif %}
            <div class="column">
              <p class="lead">{{ entry.name }}</p>
              <div class="pic-container border-black">
                <div class="jumbotron white-background">
                  <img class="img-fluid" src="https://cdn.discordapp.com/attachments/735319507341672642/762013221007654942/Tiger_Profile_Pic.jpg">
                  <br />
                  <br />
                  <a href="{% url 'profile' entry.id %}" class="btn btn-lg btn-secondary">View Profile</a>
                  {% if entry.user_id != user.id %}
                  <a href="javascript:{document.getElementById('partner_match{{entry.user_id}}').submit()}">
                    <button class="btn btn-lg btn-secondary">
                      Match
                    </button>
                  </a>
                  <form id="partner_match{{entry.user_id}}" action="{% url 'partner_match' entry.user_id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" />
                  </form>
                  {% endif %}
                </div>
              </div>
              <hr class="my-4">
            </div>
            {% endfor %}
          </div>

</body>
{% endblock %}
