{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
  <title>TigerGainz - Partner Page</title>

  <!--Page Stylesheets-->
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/PartnerStyle.css' %}"/>

</head>

<body>

  <div class="headerpic"><img src="https://cdn.discordapp.com/attachments/735319507341672642/737054723936485426/Matches_2.jpg" class="img.responsive" style="width:55%">
  </div>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  </body>

  <div class="border-black">
    <h1 class="display-5"><strong>Partner Info</strong></h1>
  </div>

  <div class="jumbotron">
    <div class="border-white">
      <div class="border-orange">
        <div class="jumbotron white-background">

          <div class="column">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Name</strong>
              <div class="mb-1 text-muted">
                <p>{{ profile_details.name }}</p>
              </div>
              <strong class="d-inline-block mb-2 text-primary">Class</strong>
              <div class="mb-1 text-muted">
                <p>{{ profile_details.year }} </p>
              </div>
              <strong class="d-inline-block mb-2 text-primary">Residential College</strong>
              <div class="mb-1 text-muted">
                <p>{{ profile_details.rescollege }} </p>
              </div>
              <strong class="d-inline-block mb-2 text-primary">Timezone</strong>
              <div class="mb-1 text-muted">
                <p>{{ profile_details.time_zone }} </p>
              </div>
              <strong class="d-inline-block mb-2 text-primary">Availability</strong>
              <div class="mb-1 text-muted">
                <p>{{ days }} </p>
              </div>
              <strong class="d-inline-block mb-2 text-primary">Workout Type</strong>
              <div class="mb-1 text-muted">
                <p>{{ workout_type }} </p>
              </div>
              <strong class="d-inline-block mb-2 text-primary">Duration</strong>
              <div class="mb-1 text-muted">
                <p>{{ profile_details.duration }} </p>
              </div>
              <div class="mb-1 text-muted">
              {% load request_tags %}
              {% if user|check_partner %}
                {% if user|check_time %}
                  <a href="javascript:{document.getElementById('remove_partner').submit()}">
                    <button class="btn btn-lg btn-secondary">
                      Remove Partner
                    </button>
                  </a>
                  <form id="remove_partner" action="{% url 'remove_partner' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden"/>
                  </form>
               {% endif %}

              {% else %}
                {% if profile_details.user_id != user.id %}
                  <a href="javascript:{document.getElementById('partner_match{{profile_details.user_id}}').submit()}">
                    <button class="btn btn-lg btn-secondary">
                      Match
                    </button>
                  </a>
                  <form id="partner_match{{profile_details.user_id}}" action="{% url 'partner_match' profile_details.user_id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" />
                  </form>
                {% endif %}
              {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
{% endblock %}
