{% extends 'base.html' %}

{% block content %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .bg-light {
        background-color: #ff8f00 !important;
    }

    .navbar-brand {
        font-family: 'Noto Sans JP',
            sans-serif;
        color: #fff !important;
    }

    .cover-container {
        font-family: 'Noto Sans JP',
            sans-serif;
        margin-top: 60px;
    }

    .cover-heading {
        background-color: #000;
        color: #fff;
        padding: 20px;
        border-color: #fff;
    }

    .lead {
        margin-top: 10px;
        padding: 20px;
        background-color: #000;
        color: #fff;
    }

    .nav-link {
        font-family: 'Noto Sans JP',
            sans-serif;
        color: #fff !important;
    }

    .display-4 {
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0);
        color: #000;
        padding: 20px;
    }


    .bg-logo {
        background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735596921087066172/Database.jpg');
        background-attachment: local;
        background-position: center;
        background-size: unset;
        background-size: 70%;
        height: unset;
        height: max-content;

    }

    .btn {
        margin: 0px 37% 0px 37%;
        padding: 10px;
    }

    .btn-secondary:hover,
    .btn-secondary:focus {
        background-color: #000;
    }

    .btn-secondary {
        color: #fff;
        text-shadow: none;
        /* Prevent inheritance from `body` */
        background-color: #ff8f00;
        ;
        border: .05rem solid #ff8f00;
        ;
        margin-bottom: 30px;
    }

    .display-5 {
        color: #fff;
        background-color: #000;
        padding: 20px;
        position: relative;
    }

    .bg-light2 {
        background-color: #e9ecef !important;
        width: unset;
        min-width: 300px;
        height: 600px;
    }

    .bg-white {
        background-color: #000 !important;
        background-image: url('https://cdn.discordapp.com/attachments/735319507341672642/735573886997102682/Tiger_Profile_Pic.jpg');
        background-position:center;
        background-size: 100%;
        min-width: 200px;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .jumbotron {
        padding-bottom: 10px;
    }
</style>
{% if matched_people %}
<br><br><br>
<div class="container">
{% for person in matched_people %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light2 mr-md-5 col p-4 d-flex flex-column position-static">
        <div class="my-3 p-3">
            <h2 class="text-center display-5">{{person.1}}</h2>
        </div>
        <div class="bg-white shadow-sm mx-auto" style="width: 40%; height: 300px; border-radius: 21px 21px 21px 21px;">
        </div>
        <div class="container">
          Days Available: {{person.7}}
          Score: {{person.6}}
        </div>
        <br>
        <a href="#" class="btn btn-lg btn-secondary">Match</a>
    </div>
  {% endfor %}
</div>
  <br>
<br>
</div>
{% else %}
<div class="container text-center">
  We're Searching for a Workout Buddy based on your provided information. We will email you when it is ready.

</div>
{% endif %}
{% endblock %}
